import 'package:flutter/material.dart';

class {{feature.pascal}}Content extends StatelessWidget {
  const {{feature.pascal}}Content({super.key});

  @override
  Widget build(BuildContext context) {
    final textTheme = Theme.of(context).textTheme;

    return Center(
      child: Text(
        '{{feature.pascal}}',
        style: textTheme.headlineSmall,
      ),
    );
  }
}
