import '../../domain/entities/{{feature.snake}}_entity.dart';

final class {{feature.pascal}}Dto {
  const {{feature.pascal}}Dto();

  {{feature.pascal}}Entity toDomain() {
    return const {{feature.pascal}}Entity();
  }
}
