abstract interface class {{feature.pascal}}RemoteSource {}

final class {{feature.pascal}}RemoteSourceImpl
    implements {{feature.pascal}}RemoteSource {
  const {{feature.pascal}}RemoteSourceImpl();
}
