schema_version: 1

project:
  preset: vanilla
  source_directory: lib

architecture:
  type: none
  feature_directory: lib/features

state_management:
  type: none
  code_generation: false

routing:
  type: material
  auto_register_features: false

serialization:
  type: none

generation:
  format_after_generation: true
  install_dependencies: true
  conflict_strategy: skip
