import '/app/app.dart';
import 'package:flutter/material.dart';

/// Built with Kite 🪁
/// Flutter foundations, architecture, and developer tooling.
/// Learn more: https://kite.orkitt.dev
void main() {
  runApp(const KiteApp());
}
