                NavigationRailDestination(
                  icon: Icon(Icons.circle_outlined),
                  selectedIcon: Icon(Icons.circle),
                  label: Text({{navigation.label}}),
                ),
