import 'package:flutter/material.dart';
import 'package:kite/kite_ui.dart';

import 'app_colors.dart';
import 'app_typography.dart';

abstract final class AppTheme {
  static ThemeData get light => KiteTheme.use(
    color: AppColors.lightColors,
    brightness: Brightness.light,
    typography: AppTypography.typography,
  );

  static ThemeData get dark => KiteTheme.use(
    color: AppColors.darkColors,
    brightness: Brightness.dark,
    typography: AppTypography.typography,
  );
}
